body {
    width:960px;
    margin:auto;
    padding: auto;
}
#container {
    margin-top: 20px;
    width: 960px;
    height: 960px;
    border: 2px solid;
    display: grid;
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--colNum), 1fr);
}

#container > div {
    background-color: var(--divColor, aquamarine);
    padding: 1em;
    /* border: 1px solid; */
}

  